HOST_URL="http://localhost:5173"

DATABASE_URL="postgres://calliope:calliope@localhost:54322/calliope?sslmode=disable"
REDIS_URL="redis://localhost:63792"

# dbmate configuration: https://github.com/amacneil/dbmate?tab=readme-ov-file#command-line-options
DBMATE_MIGRATIONS_TABLE="migration.schema_migration"
DBMATE_STRICT="true"
DBMATE_SCHEMA_FILE="schema.sql"
DBMATE_MIGRATIONS_DIR="./migrations"

SMTP_HOST="localhost"
SMTP_PORT="1025"
# false for Mailpit
SMTP_SECURE="false"
# Empty for Mailpit
SMTP_USERNAME=""
SMTP_PASSWORD=""

MAIL_FROM_ADDRESS="calliope@localhost"
